# DATA CLEANING AND ANALYSIS: DAP ca2 19158718

In [ ]:
import requests
import pandas as pd
import numpy as np
import pymongo
import re
from pymongo import MongoClient
import json
import seaborn as sns
import pyodbc
import sqlalchemy as sa
from sqlalchemy import create_engine
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style
%matplotlib inline

In [ ]:
#connecting mongodb for extarcting unprocessed datset
client = pymongo.MongoClient("mongodb+srv://dapGroup1:dapGroup123@tourism.wurzf.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [ ]:
#list of database names
dblist = client.list_database_names()
dblist

In [ ]:
#accesing db tourism
db = client["tourism"]

In [ ]:
#accesing collection names
db.list_collection_names()

In [ ]:
#extarcting three dataset from tourism collection
mydb = client.tourism
mycol_1 = mydb.polluted_cities_collection
mycol_2 = mydb.temperatures_cities_collection
mycol_3 = mydb.cost_living_collection

In [ ]:
print(mycol_2.find_one())

In [ ]:
print(mycol_1.find_one())

In [ ]:
#storing and reading temperature datset 
temp = mycol_2.find()

In [ ]:
for i in temp:
    print(i)

In [ ]:
#stroing and reading polluted dataset
polluted = mycol_1.find()

In [ ]:
for i in polluted:
    print(i)

In [ ]:
#stroing and reading polluted dataset
polluted = mycol_1.find()
list_cursor1=list(polluted)

In [ ]:
#converting data from dict type to list type
temp = mycol_2.find()
list_cursor2 = list(temp)

In [ ]:
#converting data from dict type to list type
cliving= mycol_3.find()
list_cursor3=list(cliving)

In [ ]:
print(list_cursor2)

In [ ]:
print(list_cursor3)

In [ ]:
# transforming list data  to pandas dataframe
df_pollution= pd.DataFrame(list_cursor1)
df_temp = pd.DataFrame(list_cursor2)
df_cliving = pd.DataFrame(list_cursor3)

In [ ]:
df_pollution.info()

In [ ]:
df_pollution

In [ ]:
df_pollute=df_pollution

In [ ]:
#checking for null values
df_pollute.isnull().sum()

In [ ]:
#dropping unuseful columns
df_pollute=df_pollute.drop(["Temporal coverage","_id","Year","Database version (year)"],axis=1)

In [ ]:
#dropping unuseful columns
df_pollute= df_pollute.rename({"City/Town": "City"},axis=1)

In [ ]:
#dropping unuseful columns
df_pollute= df_pollute.rename({"PM_2": "PM_2.5"},axis=1)

In [ ]:
#dropping unuseful columns
df_pollute= df_pollute.rename({"PM10": "PM_10"},axis=1)

In [ ]:
df_pollute.head()

In [ ]:
#presence of bracket values and encoding error
df_temp

In [ ]:
data_t=df_temp
df_temp.info()

In [ ]:
#dropping unuseful coumns
data_t = data_t.drop('ref',axis=1)

In [ ]:
#to remove the bracket vales in temperature dastet ,created list of column names to iterate over
column=list(data_t)
remove_list =["_id","Country","City"]
print(column)
print("....................................................")
set1 = set(column)
set2 = set(remove_list)
res = list(set1 - set2)
res

In [ ]:

# Function to clean the bracket value
def Clean_names(num):
    # Search for opening bracket in the name followed by
    # any characters repeated any number of times
    if re.search('\(.*', num):
  
        # Extract the position of beginning of pattern
        pos = re.search('\(.*', num).start()
  
        # return the cleaned value
        return num[:pos]
  
    else:
        # if clean up needed return the same name
        return num
          
# Updated the monthly columns by removing round braces and value with it
for i in res:
    data_t[i] = data_t[i].apply(Clean_names)
  
# Print the updated dataframe
data_t

In [ ]:
#presence of encoding errors(sample) verified by csv file
data_t.iloc[62]

In [ ]:
print(data_t[data_t.Jan.str.contains(r'[âˆ’]')])

In [ ]:
data_t.isnull().sum()

In [ ]:
data_t.info()

In [ ]:
#renaming columns for 
data_t= data_t.rename({"Year": "avg_year_temp"},axis=1)

In [ ]:
data_t.isnull().sum()

In [ ]:
#cpoying dataset
data_p=df_pollute

In [ ]:
data_p

In [ ]:
list(data_p)

In [ ]:
#renaming column name in pollution dataset
data_p = data_p.rename({"City/Town":"City","PM_two_five":"pm_s","PM10":"pm_l"},axis=1)

In [ ]:
data_p.isnull().sum()

In [ ]:
#encoding error during extarction, replacing special character 
data_p.City=data_p.City.str.replace("[^a-zA-Z_]",'')

In [ ]:
#dropping duplicates values from dataset
data_p=data_p.drop_duplicates()

In [ ]:
data_p.info()

In [ ]:
##for visaulising  impactful outliers and basic analysis
sns.pairplot(data_p)

In [ ]:
sns.barplot(data_p["Country"],data_p["PM_2.5"])

In [ ]:
#dataset 2
data_t.head()

In [ ]:
#splitting data_t , separating numeric part of data from caharatcer part of data 
data_t1=data_t.iloc[:,0:3]
data_t2=data_t.iloc[:,3:16]

In [ ]:
#character part of data
data_t1

In [ ]:
#numeric part of data_t
data_t2.iloc[60:70]

In [ ]:
#encoing error during web extarction
#replacing special characters(-) with - sign
data_t2.Jan=data_t2.Jan.str.replace("[^0-9.]",'-')
data_t2.Feb=data_t2.Feb.str.replace("[^0-9.]",'-')
data_t2.Mar=data_t2.Mar.str.replace("[^0-9.]",'-')
data_t2.Apr=data_t2.Apr.str.replace("[^0-9.]",'-')
data_t2.May=data_t2.May.str.replace("[^0-9.]",'-')
data_t2.Jun=data_t2.Jun.str.replace("[^0-9.]",'-')
data_t2.Jul=data_t2.Jul.str.replace("[^0-9.]",'-')
data_t2.Aug=data_t2.Aug.str.replace("[^0-9.]",'-')
data_t2.Sep=data_t2.Sep.str.replace("[^0-9.]",'-')
data_t2.Oct=data_t2.Oct.str.replace("[^0-9.]",'-')
data_t2.Nov=data_t2.Nov.str.replace("[^0-9.]",'-')
data_t2.Dec=data_t2.Dec.str.replace("[^0-9.]",'-')
data_t2.avg_year_temp=data_t2.avg_year_temp.str.replace("[^0-9.]",'-')

#df.columns=df.columns.str.replace('[#,@,&,âˆ’]','')

In [ ]:
#cleaning names in city column with unwanted chareacters(enconding errors)
data_t1.City=data_t1.City.str.replace("[^a-zA-Z_]",'')

In [ ]:
data_t2.iloc[60:70]

In [ ]:
#trasforming data to numeric after cleansing to avoid any objject type 
col=list(data_t2)
for i in col:
    data_t2[i]=pd.to_numeric(data_t2[i])

In [ ]:
data_t2.iloc[60:70]

In [ ]:
#combining charcter part of data and numeric part of data into single data after cleansing and transorming
clean_temp = pd.concat([data_t1,data_t2],axis=1)

In [ ]:
type(clean_temp)

In [ ]:
clean_temp.head()

In [ ]:
#dropping column id
clean_temp = clean_temp.drop("_id",axis=1)

In [ ]:
clean_temp

In [ ]:
#dropping duplicates values
clean_temp=clean_temp.drop_duplicates()

In [ ]:
#plt.figure(figsize=(2,2))
sns.pairplot(clean_temp,height=1.2)

In [ ]:
df_temp=clean_temp

In [ ]:
#converting cost of living data(3) from dict type to list type and transforming to pandas dataframe for cleansing
temp = mycol_3.find()
list_cursor3 = list(temp)
df_cliving = pd.DataFrame(list_cursor3)

In [ ]:
df_cliving.info()

In [ ]:
df_cliving.head()

In [ ]:
#seaprtating city and country names from single column into two distinct columns
new = df_cliving["City"].str.split(",", n = 1, expand = True)

In [ ]:
df_cliving["City"]= new[0]

In [ ]:
df_cliving["Country"]= new[1]

In [ ]:
df_cliving=df_cliving.drop(["index","_id","Cost of Living Plus Rent Index"],axis=1)

In [ ]:
df_cliving=df_cliving.drop_duplicates()

In [ ]:
df_cliving.isnull().sum()

In [ ]:
#for visaulising outliers and basic analysis
sns.pairplot(df_cliving)

# connecting to sql database

In [ ]:
#connecting to azure sql,storing of proccesed dataset using sql alchemy 
import pyodbc
from sqlalchemy import create_engine
import urllib
server = 'dapgroup1.database.windows.net'
database = 'dap'
username = 'dap'
driver = "ODBC Driver 17 for SQL Server"
password = 'Admin@123'
DATABASE_CONNECTION = f'mssql://{username}:{password}@{server}/{database}?driver={driver}'

In [ ]:
engine = create_engine(DATABASE_CONNECTION)
connection = engine.connect()

In [ ]:
engine.table_names()

In [ ]:
#loading dataframes into database
df_pollute.to_sql('city_Pollution', engine, if_exists='replace', index = False)

In [ ]:
#loading dataframes into database
clean_temp.to_sql('city_temperatures', engine, if_exists='replace', index = False)

In [ ]:
#loading dataframes to database
df_cliving.to_sql('city_living_index', engine, if_exists='replace', index = False)

In [ ]:
#tables names after loading
engine.table_names()

In [ ]:
df_flight = pd.read_sql_table("flights_detail",engine)

In [ ]:
df_flight

In [ ]:
df_attraction = pd.read_sql_table("attractions",engine)

In [ ]:
df_cliving

In [ ]:
df_livpol=pd.merge(df_cliving,df_pollute,on='City',how="inner")

In [ ]:
df_livpol

In [ ]:
style.use('ggplot')
plt.figure(figsize=(15,8))
df_livpol.plot.bar()

In [ ]:
style.use('ggplot')
plt.figure(figsize=(5,11))
plt.plot(df_livpol['PM_10'],df_livpol['City'],"orange",label='PM_10',linewidth=1)
plt.plot(df_livpol['PM_2.5'],df_livpol['City'],"r",label='PM_2.5',linewidth=1)

plt.title("city pollution level")
plt.xlabel("particualte matter density")
plt.ylabel("city")
plt.legend()

In [ ]:
style.use('ggplot')
plt.figure(figsize=(3,11))

plt.plot(df_livpol['Cost of Living Index'],df_livpol['City'].unique(),color="blue",linewidth=1,label="cost of living")
plt.plot(df_livpol['Groceries Index'],df_livpol['City'].unique(),color="green",linewidth=1,label="groceries index")

plt.title("cost of living/groceries index")
plt.xlabel("index")
plt.ylabel("city")
plt.legend()

In [ ]:
style.use('ggplot')
plt.figure(figsize=(4,11))

plt.plot(df_livpol['Local Purchasing Power Index'],df_livpol['City'].unique(),color="blue",linewidth=1,label="purchasing power")
plt.plot(df_livpol['PM_2.5'],df_livpol['City'].unique(),color="green",linewidth=1,label="pollution")

plt.title("purchase power/particulate matter concetration")
plt.xlabel("index")
plt.ylabel("city")
plt.legend()

In [ ]:
style.use('ggplot')
plt.figure(figsize=(5,11))

plt.plot(df_livpol['Cost of Living Index'],df_livpol['City'].unique(),color="blue",linewidth=1,label="Cost of Living Index")
plt.plot(df_livpol['Restaurant Price Index'],df_livpol['City'].unique(),color="green",linewidth=1,label="Restaurant Price Index")

plt.title("Cost of Living Index/Restaurant Price Index")
plt.xlabel("index")
plt.ylabel("city")
plt.legend()

In [ ]:

df_templiving = pd.merge(df_cliving,df_temp,on="City",how="inner")

In [ ]:
style.use('ggplot')
plt.figure(figsize=(3,11))

plt.plot(df_templiving['Groceries Index'].iloc[110:180],df_templiving['City'].iloc[110:180],color="red",linewidth=1,label="Groceries Index")
plt.plot(df_templiving['Local Purchasing Power Index'].iloc[110:180],df_templiving['City'].iloc[110:180],color="green",linewidth=1,label="Local Purchasing Power Index")

plt.title("Groceries Index/Local Purchasing Power Index")
plt.xlabel("index")
plt.ylabel("city")
plt.legend()

In [ ]:
plt.figure(figsize=(10,10))
sns.heatmap(clean_temp.iloc[:,2:])

In [ ]:
#visulaising by combining all thre dataset(cost of living,pollution,temperature)
df_3c = pd.merge(df_templiving,df_pollute)

In [ ]:
df_3c

In [ ]:
style.use('ggplot')
plt.figure(figsize=(26,5))

plt.plot(df_3c['City'],df_3c['avg_year_temp'],color="black",linewidth=1,label="avg_year_temp")
plt.plot(df_3c['City'],df_3c['PM_10'],color="red",linewidth=1,label="pm_10")
plt.plot(df_3c['City'],df_3c['PM_2.5'],color="green",linewidth=1,label="PM_2.5")

plt.title("temperature/poluution particles size 2.5 and 10 ")
plt.xlabel("city")
plt.ylabel("index")
plt.legend()

In [ ]:
style.use('ggplot')
plt.figure(figsize=(26,5))

plt.plot(df_3c['City'],df_3c['Rent Index'],color="black",linewidth=1,label="avg_year_temp")
plt.plot(df_3c['City'],df_3c['Local Purchasing Power Index'],color="red",linewidth=1,label="pm_10")
plt.plot(df_3c['City'],df_3c['PM_2.5'],color="green",linewidth=1,label="PM_2.5")

plt.title("temperature/pollution particles size 2.5 and 10 ")
plt.xlabel("city")
plt.ylabel("index")
plt.legend()

In [ ]:
df_livpol

# model buidling on dataset 2 (cost of living )

In [ ]:
df_cliving

In [ ]:
df_cliving.info()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, Ridge, Lasso
y = df_cliving['Cost of Living Index']
X = df_cliving.drop(['Cost of Living Index','Country','City'], axis=1)
    
    # Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)

In [ ]:
models = {
    "                Linear Regression": LinearRegression(),
    "Ridge (L2-Regularized) Regression": Ridge(),
    "Lasso (L1-Regularized) Regression": Lasso()
}

for name, model in models.items():
    model.fit(X_train, y_train)
    print(name + " trained.")

In [ ]:
for name, model in models.items():
    print(name + ": R^2 Score: {:.5f}".format(model.score(X_test, y_test)))

In [ ]:
m =LinearRegression().fit(X_train,y_train)

In [ ]:
y_pred=m.predict(X_test)

In [ ]:
sns.residplot(y_test,y_pred)
plt.show()

In [ ]:
plt.plot(y_pred,y_test)
plt.xlabel("Y_test actual values")
plt.ylabel("Y_predicted predicted value")