# DAP CA2 x19158718 DATA EXTRACTION

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient
import json

In [ ]:
#extarcting list of city temperatures data(1) source at wikipedia
wiki_url = "https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature"
table_id=""

In [ ]:
response = requests.get(wiki_url)
soup =bs(response.text,'html.parser')

In [ ]:
type(soup)

In [ ]:

table1=soup.find_all("table")

table1

In [ ]:
table2=pd.read_html(str(table1))

In [ ]:
type(table2)

In [ ]:
table2[0]

In [ ]:
#extaracting multiple table from source
table_asia=table2[1]
table_asia

In [ ]:
#extaracting multiple table from source
table_europe = table2[2]
table_europe

In [ ]:
#extaracting multiple table from source
table_northamerica= table2[3]
table_northamerica

In [ ]:
#extaracting multiple table from source
table_australia = table2[4]
table_australia

In [ ]:
#extaracting multiple table from source
table_southamerica = table2[5]
table_southamerica

In [ ]:
#extaracting multiple table from source
table_africa= table2[0]
table_africa

In [ ]:
table_northamerica.info()

In [ ]:
#cocatenating mutlitiple tables into single table
all_temp_data =pd.concat([table_southamerica,table_northamerica,table_asia,table_australia,table_europe,table_africa])

In [ ]:
all_temp_data

In [ ]:
#extracting pollution dataset(2) from wikipeadia source
pollute_url="https://en.wikipedia.org/wiki/List_of_most-polluted_cities_by_particulate_matter_concentration"

In [ ]:
response = requests.get(pollute_url)

In [ ]:
soup =bs(response.text,'html.parser')
pollution_table_raw = soup.find_all("table")

In [ ]:
pollution_table_raw

In [ ]:
table_pollution=pd.read_html(str(pollution_table_raw))

In [ ]:
type(table_pollution)
polluted_table=table_pollution[0]
polluted_table=polluted_table.iloc[:,1:]

In [ ]:
polluted_table.head()

In [ ]:
polluted_table.rename(columns = {'PM2.5':'PM_2'}, inplace = True)

In [ ]:
polluted_table.rename(columns = {'City/Town':'City'}, inplace = True)
polluted_table.rename(columns = {'Temporal coverage.1':'Temporal coverage'}, inplace = True)

In [ ]:
#extracting pollution dataset(3) from wikipeadia source
wiki_url ="https://www.numbeo.com/cost-of-living/rankings_current.jsp"

In [ ]:
response = requests.get(wiki_url)
soup =bs(response.text,'html.parser')

In [ ]:

table1=soup.find_all("table")

table1

In [ ]:
type(table1)

In [ ]:
table2=pd.read_html(str(table1))
type(table2)

In [ ]:
table2[1]

In [ ]:
cost_index=table2[1]
cost_index.to_csv('cost.csv')

In [ ]:
#connection to mongo db
client = pymongo.MongoClient("mongodb://dapGroup1:dapGroup123@tourism-shard-00-00.wurzf.mongodb.net:27017,tourism-shard-00-01.wurzf.mongodb.net:27017,tourism-shard-00-02.wurzf.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-c99nrb-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

In [ ]:
print(client.list_database_names())

In [ ]:
cost_index.rename(columns = {'Rank':'index'}, inplace = True)

In [ ]:
#converting dataset(1) into dict type prior to saving in mongodb
cost_index = cost_index.to_dict("records")
cost_index[:2]

In [ ]:
db = client["tourism"]

In [ ]:
#creating database
cost_living_collection=db["cost_living"]

In [ ]:
db.cost_living_collection.insert_many(cost_index)

In [ ]:

polluted_table.to_csv("polluted_city.csv")

In [ ]:
all_temp_data.to_csv("temp_data.csv")

In [ ]:
#converting dataset(2) into dict type prior to saving in mongodb
polluted_dict = polluted_table.to_dict("records")
polluted_dict[:2]

In [ ]:
#changing data column name, to remove the . from column name
all_temp_data.rename(columns = {'Ref.':'ref'}, inplace = True)

In [ ]:
#converting dataset(3) into dict type prior to saving in mongodb
all_temp_dict=all_temp_data.to_dict("records")
all_temp_dict

In [ ]:
db = client["tourism"]

In [ ]:
#creating database
polluted_cities_collection=db["polluted_cities_collection"]
temperatures_cities_collection=db["temperatures_cities_collection"]

In [ ]:
db.polluted_cities_collection.insert_many(polluted_dict)

In [ ]:
db.temperatures_cities_collection.insert_many(all_temp_dict)